; Пресеты экспорта Platbox.
; Открой Project > Export в Godot, чтобы донастроить пути к SDK/keystore перед сборкой.

[preset.0]

name="Windows Desktop"
platform="Windows Desktop"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../builds/windows/Platbox.exe"

[preset.1]

name="Linux"
platform="Linux/X11"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../builds/linux/Platbox.x86_64"

[preset.2]

name="Android"
platform="Android"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../builds/android/Platbox.apk"

[preset.2.options]

gradle_build/use_gradle_build=true
architectures/arm64-v8a=true
architectures/armeabi-v7a=true
screen/immersive_mode=true

[preset.3]

name="Web"
platform="Web"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="../builds/web/index.html"

[preset.3.options]

variant/thread_support=false
progressive_web_app/enabled=false
